body {
	font-family: sans-serif;
	background-color: rgb(84, 82, 82);
}

textarea {
	resize: vertical;
	max-height: 350px;
	width: 275px;
	min-height: 25px;
}

label,
input,
textarea {
	display: block;
	margin: 3px;
}

.check {
	width: 275px;
}

label {
	font-size: 20px;
}

h2 {
	margin-bottom: 4px;
	margin-top: 2px;
	font-size: 22px;
}

button {
	cursor: pointer;
	display: block;
}

form {
	width: 320px;
	background-color: white;
	border-radius: 10px;
}

fieldset {
	border: none;
}
