.article {
	margin-top: 80px;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}

.tittle-h1 {
	margin-bottom: 40px;
	max-width: 596px;
	font-size: 48px;
	font-weight: 600;
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
	color: #2c332f;
	line-height: 115%;
}

.article-text {
	margin-bottom: 20px;
	font-weight: 400;
	line-height: 130%;
	font-size: 16px;
	color: #535755;
}

.article-text-1 {
	margin-bottom: 80px;
}

.article-decor-1 {
	position: relative;
}

.article-decor-1::before {
	position: absolute;
	content: "";
	background: url(../img/decor-icon.svg) no-repeat;
	width: 528px;
	height: 48px;
	top: 100px;
	left: -350px;
	z-index: -1;
}

.article-decor-2 {
	position: relative;
}

.article-decor-2::before {
	position: absolute;
	content: "";
	background: url(../img/decor-icon.svg) no-repeat;
	width: 528px;
	height: 48px;
	right: -350px;
	bottom: 136px;
	z-index: -1;
}

.img-1 {
	width: 100%;
}

.img-2 {
	max-width: 1220px;
	max-height: 512px;
	margin: 0;
}

.article-play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
	background-color: #3596ed;
	border: none;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	cursor: pointer;
}

.tittle-h2 {
	font-weight: 600;
	font-size: 36px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
	margin-bottom: 40px;
	margin-top: 80px;
	font-family: Oswald;
}

.list {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	padding-left: 16px;
	margin-bottom: 80px;
	color: #2c332f;
}

.list-item::marker {
	color: #0202c8;
	font-size: 22px;
}

.article-text-final {
	margin-bottom: 120px;
	font-weight: 400;
	line-height: 130%;
	font-size: 16px;
	color: #535755;
}

.flex-container {
	display: block;
	position: absolute;
	left: 30%;
	display: flex;
	gap: 60px;
	color: #535755;
	margin-top: 145px;
	padding-bottom: 40px;
	border-bottom: solid #d3cbd9 1px;
}
