html {
	font-family: sans-serif;
}

body * {
	box-sizing: border-box;
}

a {
	color: black;
}

li {
	display: inline-block;
	padding: 0 10px;
	font-weight: 600;
}

.flex-item-1 {
	background-color: black;
	width: 50px;
	height: 50px;
}

.anchor {
	text-decoration: none;
}

.list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1430px;
	padding: 15px 15px;
	margin: 0 auto;
	border-bottom: 15px;
	border-bottom: solid;
	border-color: rgb(98, 97, 97);
}
