html {
	font-family: Ubuntu;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 375px;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}

a,
button {
	outline: none;
}

.tittle__h2,
.tittle__h3 {
	font-weight: 600;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
	margin-bottom: 40px;
	font-family: Oswald, sans-serif;
}

.tittle__medium {
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}

.text {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}

.button {
	display: inline-block;
	padding: 19px 32px;
	font-weight: 500;
	font-size: 15px;
	line-height: 130%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	text-decoration: none;
	background-color: #3596ed;
	-webkit-transition: opasity 0.2s, background-color 0.2s;
	-o-transition: opasity 0.2s, background-color 0.2s;
	transition: opasity 0.2s, background-color 0.2s;
}

.button:active {
	background-color: #1f67a5;
}

.button:hover {
	opacity: 0.85;
}

.section {
	margin-bottom: 140px;
}

.text-sub {
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #858e8a;
}

.decor::before {
	content: "";
	position: absolute;
	z-index: -1;
	width: calc(50% - 250px);
	height: 48px;
	background: url(../image/decor-icon.svg) repeat-x;
}

a:focus-visible,
button:focus-visible,
summary:focus-visible {
	outline: 2px solid #3596ed;
	outline-offset: 1px;
}

a:active {
	color: #1f67a5;
}

@media (width <= 992px) {
	.container {
		max-width: 768px;
	}
}

@media (width <= 768px) {
	.container {
		max-width: 576px;
	}
	.tittle-h1 {
		font-size: 42px;
	}
	.tittle__h2 {
		font-size: 32px;
		margin-bottom: 30px;
	}
	.home-page .tittle__h2 {
		max-width: inherit;
		text-align: center;
	}
	.tittle__medium {
		font-size: 22px;
	}
}

@media (width <= 576px) {
	.section {
		margin-bottom: 80px;
	}
	.tittle-h1 {
		font-size: 36px;
	}
	.tittle__h2 {
		font-size: 28px;
	}
	.tittle__medium {
		font-size: 18px;
	}
}
