.header__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #d3cbd9;
	gap: 10px;
}

.header__phone {
	text-align: right;
}

.header__logo--text {
	margin-bottom: 8px;
}

.header__logo--link {
	font-weight: 500;
	font-size: 18px;
	color: #2c332f;
	text-decoration: none;
	-webkit-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

.header__phone a:hover {
	color: rgb(0, 82, 154);
}
