:root {
	--border-radius: 20px;
	--container-padding: 60px;
	--max-width: 1400px;

	/* font-family */
	--font-family: "Inter", sans-serif;
	--second-family: "Readex Pro", sans-serif;

	/* colors */
	--primary-color: #000000;
	--secondary-color: #666;
	--bg-color: #dce5e2;

	/* transition */
	--transition: 0.2s;

	/* layers */
	--layer-negative: -1;
	--layer-0: 0;
	--layer-1: 1;
	--layer-2: 2;
	--layer-3: 3;
}
