* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 15px;
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	min-height: 100vh;
}

.header {
	grid-column: 1 / 12 span;
	background-color: #f00;
	min-height: 100px;
}

.aside {
	grid-column: 1 / 2 span;
	background-color: #e2e20d;
}

.main {
	grid-column: 3 / 10 span;
	background-color: #31bb0a;
	padding-top: 30px;
	padding-bottom: 30px;
}

.article {
	background-color: #de6e05;
	min-height: 350px;
}

.footer {
	grid-column: 1 / 12 span;
	background-color: #0b2fe2;
	min-height: 250px;
}

@media (width <= 1200px) {
	.aside {
		grid-column: 1 / 3 span;
		background-color: #e2e20d;
	}

	.main {
		grid-column: 4 / 9 span;
		background-color: #31bb0a;
	}
}

@media (width <= 768px) {
	.aside {
		display: none;
	}

	.main {
		grid-column: 1 / 12 span;
		background-color: #31bb0a;
	}
}
