.footer {
	margin-top: auto;
	padding: 60px 0 40px;
	background-image: linear-gradient(
		90deg,
		rgba(73, 169, 255, 0.2) 0%,
		rgba(252, 124, 217, 0.2) 100%
	);
	text-align: center;
}

.footer-logo {
	display: inline-block;
	margin-bottom: 40px;
}

.menu ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 60px;
	margin: 0;
	padding: 0;
}

.menu a {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
	text-decoration: none;
	transition: color 0.3s;
}

.menu a:hover {
	color: rgb(0, 82, 154);
}

.footer-top {
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #d3cbd9;
}

.copyright {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.04em;
	color: #858e8a;
}
