.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #d3cbd9;
	gap: 10px;
}

.phone {
	text-align: right;
}

.phone p {
	margin-bottom: 8px;
}

.phone a {
	font-weight: 500;
	font-size: 18px;
	color: #2c332f;
	text-decoration: none;
	transition: color 0.3s;
}

.phone a:hover {
	color: rgb(0, 82, 154);
}
